<div class="container mx-auto px-4">

  <h1>Hello New simulation</h1>

  <%= form_for(@simulation) do |f| %>
  <div class="grid grid-cols-1 gap-4">
    <div>
      <%= f.label :house_city %>
      <%= f.text_field :house_city %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
  <% end %>



</div>