<div class="mx-auto px-4">

  <div class="flex justify-center">

    <div style="width: 260px;" class="flex flex-col items-center">

      <%= @user.email %>

      <%= link_to "Modifier mon mot de passe", edit_user_registration_path %>
      <%= link_to "Supprimer mon compte", edit_user_registration_path %>

    </div>

  </div>
  
</div>