<!-- Notice -->
<% if notice %>
  <div
    data-controller="flash"
    data-flash-target="flashElement"
    class="fixed bottom-8 right-4 flex justify-between items-center mr-4 shadow-md border border-gray-100 rounded-lg bg-white"
    style="min-height: 60px; width: 240px;"
    role="notice">
    
    <div class="flex items-center">
      <div class="h-full bg-lime-500 rounded-l-lg" style="min-height: 60px; width: 4px;"></div>
      <i class="far fa-check-circle text-lime-500 text-2xl p-3"></i>
    </div>

    <p class="text-sm text-gray-500 leading-5"><%= notice %></p>

    <button
      data-action="click->flash#close"
      type="button"
      class="close h-full"
      data-dismiss="notice"
      aria-label="Close">
      <span aria-hidden="true" class="text-xs text-gray-300 p-3">FERMER</span>
    </button>

  </div>
<% end %>

<!-- Alert -->
<% if alert %>
  <div
    data-controller="flash"
    data-flash-target="flashElement"
    class="fixed bottom-8 right-4 flex justify-between items-center mr-4 shadow-md border border-gray-100 rounded-lg bg-white"
    style="min-height: 60px; width: 240px;"
    role="alert">
    
    <div class="flex items-center">
      <div class="h-full bg-red-500 rounded-l-lg" style="min-height: 60px; width: 4px;"></div>
      <i class="far fa-times-circle text-red-500 text-2xl p-3"></i>
    </div>

    <p class="text-sm text-gray-500 leading-5"><%= alert %></p>

    <button
      data-action="click->flash#close"
      type="button"
      class="close h-full"
      data-dismiss="alert"
      aria-label="Close">
      <span aria-hidden="true" class="text-xs text-gray-300 p-3">FERMER</span>
    </button>

  </div>
<% end %>