<!-- Notice -->
<% if notice %>
  <div class="text-semi-bold sticky bottom-12 flex justify-end mr-4 opacity-100" role="notice">
    <%= notice %>
    <button type="button" class="close" data-dismiss="notice" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<!-- Alert -->
<% if alert %>
  <div class="text-semi-bold sticky bottom-12 flex justify-end mr-4 opacity-100" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>