<nav>
  <div class="flex justify-between items-center py-1 shadow-md">
    <div class="flex justify-between items-center px-2">
      <%= link_to "/" do %>
        <%= image_tag "icon-squared-transparent.png", style: "width: 40px;" %>
      <% end %>
      <div class="px-2">
        <p class="text-2xl font-extrabold text-gray-800">Keyz</p>
        <p class="text-xs text-gray-500">La rentabilité immobilière en ligne</p>
      </div>
    </div>
    <i class="fas fa-bars mx-4" style="font-size: 24px;"></i>
  </div>
</nav>