<div class="container mx-auto px-8 xl:px-16 2xl:px-32">

  <!-- Hero -->
  <section class="flex mt-16 xl:grid xl:grid-cols-7 xl:gap-4 xl:items-center">
    <div class="flex flex-col items-start xl:col-start-1 xl:col-end-5">
      <h1 class="font-semibold text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl"><span class="font-extrabold">Faites le choix</span> d'investir dans le bon projet immobilier en ayant toutes les dépenses prises en compte</h1>
      <h2 class="text-base mt-4">Calculez les rentabilités de votre projet d'investissement. Projetez les flux financiers des premières années d'exploitation. Choisissez le status fiscal le plus avantageux.</h2>
      <%= link_to "Réaliser une simulation", new_simulation_path, class: "flex-grow-0 font-bold bg-green-frog hover:bg-green-400 rounded-lg px-4 py-2 mt-8 border-2 border-black" %>
    </div>
    <div class="hidden xl:inline-block xl:col-start-5 xl:col-end-8">
      <%= image_tag "pages/dogecoin-unsplash.jpg", class: "rounded-lg m-auto" %>
    </div>
  </section>

</div>

<!-- Why us -->
<section class="flex flex-col items-center mt-16 bg-green-800">
  <div class="flex items-center pt-16">
    <i class="fas fa-check text-green-frog text-3xl"></i>
    <h2 class="pl-3 font-bold text-white text-3xl">Pourquoi adopter Mini-Keyz</h2>
  </div>

  <div class="container mx-auto pb-16 px-8 xl:px-16 2xl:px-32">
    <div class="flex justify-center flex-wrap">
      <div>
        <h3>Gratuit</h3>
        <p>Possible to give tip though</p>
      </div>
      <div>
        <h3>Fiable</h3>
        <p>Mis à jour avec données 2021</p>
      </div>
    </div>
  </div>
</section>

<!-- Functionnalities -->
<section class="flex flex-col items-center mt-16">
  <h2>Un solution unique et clé en main pour avoir l'esprit tranquille</h2>
  <div class="flex items-center">
    <div>
      <h3>Functionality 1 TITLE</h3>
      <p>text</p>
    </div>
    <div>img</div>
  </div>
  <div class="flex items-center">
    <div>img</div>
    <div>
      <h3>Functionality 2 TITLE</h3>
      <p>text</p>
    </div>
  </div>
  <div class="flex items-center">
    <div>
      <h3>Functionality 3 TITLE</h3>
      <p>text</p>
    </div>
    <div>img</div>
  </div>
</section>

<!-- Reminder user can do a simulation -->
<section class="flex flex-col items-center mt-16 bg-green-frog">
  <div class="flex flex-col items-center py-16">
    <h2>Choisissez de gagner du temps et du contrôle</h2>
    <h3>Adoptez dès maintenant une solution efficace de gestion des dépenses.</h3>
    <%= link_to "Réaliser une simulation", new_simulation_path, class: "font-bold bg-green-frog hover:bg-green-400 rounded-lg px-4 py-2 mt-8 border-2 border-black" %>
  </div>
</section>