<div class="container mx-auto px-4">

  <div class="bg-indigo-400 p-10 rounded-lg">
    <h1 class="font-black text-6xl text-center">Tailwind 2.0!</h1>
    <p>Cool!</p>
  </div>

  <%= link_to "Faire une simulation", new_simulation_path %>

</div>