<p>Bonjour,</p>

<p>Pour finaliser votre inscription, merci de valider votre adresse email en cliquant ci-dessous :</p>

<p><%= link_to 'Finaliser mon inscription', confirmation_url(@resource, confirmation_token: @token), style: "padding: 8px; background-color: #7cd7ac;" %></p>

<p>Une fois votre inscription finalisée, votre compte sera automatiquement validé et vous pourrez alors sauvegarder vos simulations dans votre espace personnel. Pour toute question, n'hésitez pas à contacter notre service client.</p>

<p>Nous vous remercions pour votre confiance.</p>
 
<p>Mini-Keyz</p>

<%= link_to 'www.mini-keyz.com', root_url %><br>
<%= mail_to 'mathieu.eustachy@mini-keyz.com', 'Nous contacter : mathieu.eustachy@mini-keyz.com' %>

<p>Ce message vous est envoyé automatiquement. Merci de ne pas y répondre.</p>
