<p>Bonjour,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Votre adresse email est en train d'être modifiée pour devenir <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre adresse email a été mise à jour.</p>
  <p>Vous pouvez l’utiliser dès maintenant pour vous connecter à votre espace personnel Mini-Keyz et accéder à votre profil.</p>
<% end %>

<p>Pour toute question, n'hésitez pas à contacter notre service client.</p>

<p>A bientôt !</p>


<p>Mini-Keyz</p>

<%= link_to 'www.mini-keyz.com', root_url %><br>
<%= mail_to 'mathieu.eustachy@mini-keyz.com', 'Nous contacter : mathieu.eustachy@mini-keyz.com' %>

<p>Ce message vous est envoyé automatiquement. Merci de ne pas y répondre.</p>
